In [ ]:
# Pandas -> 1d + 2d array 
# series -> 1d array like object
# DataFrames -> 2d array, size mutable, heterogenours tabular data structure

import pandas as pd


## series
data = [1,2,3]
dt = pd.Series(data)
print(dt)

data = {'name':'Dhanesh','age':21, 'isStudent':True}
dt = pd.Series(data)
print(dt)
for key, value in data.items():
    print(f'{key}-{value}', end=' ')

print()
indexArray = ['a','b','c']
data = [1,2,3]
data = pd.Series(data,index=indexArray)
print(data)



## DataFrames -> 2d 
data = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]
dt = pd.DataFrame(data)
print(dt)
# here first [] -> col and second [] -> row
print(dt[1][2])
print(dt[2][1])

#custom indexing 
index = ['a','b','c','d']
data = {
    'name' : ['Dhanesh','Ram','Raj','Sita'],
    'age' : [21,22,20,20],
    'firstName' : ['Dhanesh','Ram','Raj','Sita'],
    'height' : [21,22,20,20],
}
dt = pd.DataFrame(data, index=index)
print(dt)

0    1
1    2
2    3
dtype: int64
name         Dhanesh
age               21
isStudent       True
dtype: object
name-Dhanesh age-21 isStudent-True
a    1
b    2
c    3
dtype: int64
   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12
10
7
      name  age firstName  height
a  Dhanesh   21   Dhanesh      21
b      Ram   22       Ram      22
c      Raj   20       Raj      20
d     Sita   20      Sita      20

In [46]:
data = [
    {'Name':"Dhanesh",'age':21},
    {'Name':"Dhanesh",'age':22},
    {'Name':"Dhanesh",'age':23},
    {'Name':"Dhanesh",'age':25},
]
dt = pd.DataFrame(data)
print(dt)
print(dt.at[2,'age'])
print(dt['age'][1])

print(dt.iloc[2]) # gives row 

dt['age'] = [123,124,134,34]
print(dt)

      Name  age
0  Dhanesh   21
1  Dhanesh   22
2  Dhanesh   23
3  Dhanesh   25
23
22
Name    Dhanesh
age          23
Name: 2, dtype: object
      Name  age
0  Dhanesh  123
1  Dhanesh  124
2  Dhanesh  134
3  Dhanesh   34

In [ ]:
data = [
    {'name':'Dhanesh','age':21},
    {'name':'Dhanesh','age':22},
    {'name':'Dhanesh','age':23},
    {'name':'Dhanesh','age':23},
    {'name':'Dhanesh','age':23},
    {'name':'Dhanesh','age':23},
]
dt = pd.DataFrame(data)
print(dt)
dt['Height'] = [13,34,23,23,21,43]
print(dt)
dt.drop('Height', axis=1) ## temporary and default axis 0 ->row
print(dt)
dt.drop('Height',axis=1,inplace=True)
print(dt)

dt['age'] += 10
print(dt)

# to drop row in place
dt.drop(1,axis=0,inplace=True)
print(dt)

      name  age
0  Dhanesh   21
1  Dhanesh   22
2  Dhanesh   23
3  Dhanesh   23
4  Dhanesh   23
5  Dhanesh   23
      name  age  Height
0  Dhanesh   21      13
1  Dhanesh   22      34
2  Dhanesh   23      23
3  Dhanesh   23      23
4  Dhanesh   23      21
5  Dhanesh   23      43
      name  age  Height
0  Dhanesh   21      13
1  Dhanesh   22      34
2  Dhanesh   23      23
3  Dhanesh   23      23
4  Dhanesh   23      21
5  Dhanesh   23      43
      name  age
0  Dhanesh   21
1  Dhanesh   22
2  Dhanesh   23
3  Dhanesh   23
4  Dhanesh   23
5  Dhanesh   23
      name  age
0  Dhanesh   31
1  Dhanesh   32
2  Dhanesh   33
3  Dhanesh   33
4  Dhanesh   33
5  Dhanesh   33
      name  age
0  Dhanesh   31
2  Dhanesh   33
3  Dhanesh   33
4  Dhanesh   33
5  Dhanesh   33
      name  age
0  Dhanesh   31
2  Dhanesh   33
      name  age
4  Dhanesh   33
5  Dhanesh   33

In [58]:
print(dt.head(2))
print(dt.tail(2))

      name  age
0  Dhanesh   31
2  Dhanesh   33
      name  age
4  Dhanesh   33
5  Dhanesh   33