In [ ]:
# single line comments
'''
multi line comments
'''

In [1]:
# Python programming langauage is case sensitive
name = "Dhanesh"
Name = "Kumar"
print(name)
print(Name)

Dhanesh
Kumar

In [5]:
# Line continuation using backslash
total = 1+2+3\
        +4+5+6
print(total)

21

In [6]:
# Multiple statements in a single line using semicolon
value1 = 10; value2 = 20; total = value1 + value2
print(value1, value2, total)

10 20 30

In [16]:
# Python understands the data type based on the value assigned to the variable during runtime
var1 = 10          # Integer
var2 = 10.5       # Float
var3 = "Dhanesh"  # String
var4 = True       # Boolean
print(type(var1))
print(type(var2))
print(type(var3))           
print(type(var4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [18]:
# Variable type can be changed during runtime
var = 10
print(var, type(var))
var = "Dhanesh"
print(var, type(var))

10 <class 'int'>
Dhanesh <class 'str'>