In [ ]:
# Tuples are immutable lists
# Tuples are defined using parentheses ()
# Tuples can contain mixed data types   

my_tuple = ()
print(type(my_tuple))

mixed_tuple = (1, "Hello", 3.4)
print(mixed_tuple)

<class 'tuple'>
(1, 'Hello', 3.4)

In [12]:
my_tuple1 = (1,2,3,4,5)
print(type(my_tuple1))

my_list1 = [1,2,3,4,5]
print(type(my_list1))

tuple1 = tuple(my_list1)
print(tuple1)
tuple1.__add__((6,7,8))
print(type(tuple1))
print(tuple1)

list2 = list(my_tuple1)
print(type(list2))
list2.append(6)
print(list2)

<class 'tuple'>
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>
(1, 2, 3, 4, 5)
<class 'list'>
[1, 2, 3, 4, 5, 6]

In [18]:
# Traversal
arr = (10,20,30,40,50)
for x in arr:
    print(x, end=' ')
print()

for i in range(len(arr)):
    if(arr[i]&1):
        print("Odd number:",arr[i], end=' ')
    else:
        print("Even number:",arr[i], end=' ')
print()

print(arr[::2])
print(arr[::-1])
print(arr[1:3:1])

10 20 30 40 50
Even number: 10 Even number: 20 Even number: 30 Even number: 40 Even number: 50
(10, 30, 50)
(50, 40, 30, 20, 10)
(20, 30)

In [21]:
t1 = (1,2,3)
t2 = (4,5,6)
t3 = t1 + t2
print(t3)
print(t3*3)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [27]:
arr = (12,4,2,4,3,2,54,25)
# arr.sort()
# print(arr). // since tuples are immutable, we cannot sort them
# arr.reverse()
# print(arr) // since tuples are immutable, we cannot reverse them
index_50 = arr.index(50) if 50 in arr else -1
print("Index of 50 is:", index_50)
print(arr.count(2))

Index of 50 is: -1
2

In [29]:
# accessing tuple elements

arr1 = (10,20,30,40,50)
first, second, third, fourth, fifth = arr1
print("First element:", first)
print("Second element:", second)        
print("Third element:", third)
print("Fourth element:", fourth)
print("Fifth element:", fifth)

first, *middle, last = arr1
print("First element:", first)
print("Middle elements:", middle)
print("Last element:", last)

First element: 10
Second element: 20
Third element: 30
Fourth element: 40
Fifth element: 50
First element: 10
Middle elements: [20, 30, 40]
Last element: 50

In [33]:
# nested tuples
nested_tuple = ((1,2,3), (4,5,6), (7,8,9))
print(nested_tuple)
for t in nested_tuple:
    print(t)
    for x in t:
        print(x, end=' ')
    print()

for i in range(len(nested_tuple)):
    for j in range(len(nested_tuple[i])):
        # nested_tuple[i][j] = 0 // tuples are immutable, we cannot change the values
        print(nested_tuple[i][j], end=' ')
    print()

((1, 2, 3), (4, 5, 6), (7, 8, 9))
(1, 2, 3)
1 2 3
(4, 5, 6)
4 5 6
(7, 8, 9)
7 8 9
1 2 3
4 5 6
7 8 9

In [36]:
# copy - deep copy
t1 = (1,2,3,4,5)
t2 = t1
t2 += (6,)
print(t1, t2)  # t1 will not reflect the change

# t3 = t1.copy()
# t3 += (7,)
# print(t1, t3) #error

(1, 2, 3, 4, 5) (1, 2, 3, 4, 5, 6)